.hero .container {
    padding: 8rem 0;
    height: 80vh;
}

@media (max-width: 768px) {
    .hero .container {
        height: 65vh;
    }
}

.hero-heading {
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    color: white;
    letter-spacing: 0.3rem;
}

.hero-scroll-indicator img {
    width: 2rem;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}