@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hero {
        @apply h-[80vh] md:h-[75vh] text-center;
    }

    .hero-container {
        @apply mx-auto flex flex-col items-center text-center md:gap-20 gap-24 md:py-28 py-24 px-3;
        height: 100%;
    }

    .hero-heading {
        @apply uppercase font-fraunces tracking-widest lg:text-7xl md:text-5xl text-4xl text-white;
    }

    .hero-scroll-indicator {
        @apply w-8 animate-bounce;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}